<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FaceBookSanityTest">
  <test name="Test">
    <classes>
      <class name="com.wallethub.uitesting.WalletHubUiAutomation.facebook.TCC01_VerifyMessageIsPostSuccessfully"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- FaceBookSanityTest -->
